/** @format */

.navbar {
  color: white;
  font-size: 18px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  // background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0) 50%);
  &.scrolled {
    background-color: var(--main-color);
  }
  .container {
    padding: 10px;
    display: flex;
    height: 50px;
    justify-content: space-between;
    text-align: center;
    .left {
      display: flex;
      align-items: center;
      img {
        height: 25px;
        margin-right: 40px;
        margin-left: 30px;
      }
      span {
        margin-right: 20px;
        cursor: pointer;
      }
    }
    .right {
      display: flex;
      align-items: center;
      .icon {
        margin-right: 20px;
      }
      span {
        margin-right: 20px;
      }
      img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 5px;
        cursor: pointer;
      }
      .profile {
        margin-right: 30px;
        .options {
          display: none;
          background-color: var(--main-color);
          border-radius: 5px;
          align-items: center;
          span {
            padding: 5px;
          }
        }
        &:hover {
          .options {
            display: flex;
            flex-direction: column;
            position: absolute;
          }
        }
      }
    }
  }
}
